<div class="col-lg-4 col-md-12 my-4">
    <div class="card">
        <div class="card-header">
        <h3 class="text-dark m-0">Add Comment</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <form method="post" action="{% url 'add_comment' %}" autocomplete="off">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        <input type="hidden" name="listing_id" value="{{ listing.id }}"/>
                        <div class="input-group mb-3">
                            {{ cmt_form.title }}
                        </div>
        
                        <div class="input-group mb-3">
                            {{ cmt_form.message}}
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn text btn-primary">Add Comment</button>
                        </div>
                    {% else %}
                        <div class="ml-1">
                            Please <a href="{% url 'login' %}">Login</a> to comment
                            <button type="button" class="btn btn-secondary ml-2" disabled>
                                <strong>Add Comment</strong>
                            </button>
                        </div>
                    {% endif %}
                </form>
            </div> 
        </div>
    </div>
</div>