{% extends 'auctions/layout.html' %}
{% block title %}
    {{ listing.title }}
{% endblock %}

{% load static %}
{% block body %}
    {% include 'auctions/message.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="card p-3 m-3 w-100 mx-auto">
                    <div class="row no-gutters">
                        <div class="col-md-4 col-sm-12 p-3">
                            <img src="{{ listing.image_url }}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h3 class="card-title text-info">{{ listing.title }}</h3>
                            <div class="btn-group mb-3">
                                {% if request.user.is_authenticated %}
                                    {% if listing in watchlist or watchlist_flag is not None %}
                                        <form method="post" action="{% url 'remove_watchlist' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="listing_id" value="{{ listing.id }}"/>
                                            <button type="submit" class="btn btn-info btn-sm mr-3"><i class="fa fa-eye fa-lg" aria-hidden="true"></i>
                                                <span>Remove Watchlist</span>
                                            </button>
                                        </form>
                                    {% else %}
                                        <form method="post" action="{% url 'add_watchlist' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="listing_id" value="{{ listing.id }}"/>
                                            <button type="submit"
                                                    class="btn btn-sm btn-outline-secondary mr-3">Add Watchlist
                                            </button>
                                        </form>
                                    {% endif %}
                                    {% if user.id == listing.owner.id and listing.status != listing.CLOSED %}
                                        <form method="post" action="{% url 'close_listing' %}">
                                            {% csrf_token %}
                                            <button class="btn btn-warning btn-sm" type="submit">
                                                <strong class="mr-2 ml-2">Close Auction</strong>
                                            </button>
                                            <input type="hidden" name="listing_id" value="{{ listing.id }}"/>
                                        </form>
                                    {% endif %}
                                    {% if listing.status == listing.CLOSED %}   <!-- Closed listing indicator  -->
                                        <button type="button" class="btn btn-warning btn-sm px-3" disabled>Closed</button>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="mb-3">(View&nbsp;<a href="#comments">Comments</a>&nbsp;on this listing)</div>
                            {% if listing.status == listing.CLOSED %}
                                {% if listing.top_bid.owner.id == request.user.id %}
                                    <p class="card-text">
                                        Well done!! You won this auction <strong>{{ listing.top_bid.owner.first_name }}</strong>
                                    </p>
                                {% endif %}
                                <p class="card-text text-danger"><strong>CLOSED</strong></p>
                                <p class="card-text">
                                    <span class="text-success">Final Price: Rs.{{ listing.top_bid.bid|floatformat }}</span>
                                </p>
                            {% else %}
                                <p class="card-text">Current Price:
                                <span class="text-success ">
                                    {% if listing.top_bid %}
                                        <b>Rs.{{ listing.top_bid.bid|floatformat }}</b> from {{ listing.top_bid.owner }}<small class="text-muted">, {{ listing.top_bid.timestamp }}</small>
                                    {% else %}
                                        No bids
                                    {% endif %}
                                </span>
                                <p class="card-text">Starting Price: Rs.{{ listing.min_bid }}</p>
                            {% endif %}
                            <p class="card-text">{{ listing.description }}</p>
                            <p class="card-text"><small class="text-muted">Created {{ listing.timestamp }} by {{ listing.owner }}</small></p>
                            </div>
                            {% if listing.status != listing.CLOSED %}
                                <form class="ml-3" method="post" action="{% url 'place_bid' %}" style="width: 20rem;">
                                    {% csrf_token %}
                                    {% if user.is_authenticated %}
                                        <small class="text-muted"><strong>{{ bids }} bid(s) so far. Maximum bid is Rs.99,99,999</strong></small>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect01">Rs.</label>
                                            </div>
                                            {{ bid_form.bid }}
                                            <div class="input-group-append">
                                                <label class="input-group-text" for="inputGroupSelect01">.00</label>
                                            </div>
                                        </div>
                                        <input type="hidden" name="listing_id" value="{{ listing.id }}"/>
                                        <button type="submit" class="btn btn-success">
                                            <strong>Rs. Place Your Bid</strong>
                                        </button>
                                    {% else %}
                                        <div class="ml-1">
                                            Please <a href="{% url 'login' %}">Login</a> to bid
                                            <button type="button" class="btn btn-secondary ml-2" disabled>
                                                <strong>Rs. Place Your Bid</strong>
                                            </button>
                                        </div>
                                    {% endif %}
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% if listing.status != listing.CLOSED %}
            {% include 'auctions/add_comment.html' %} 
        {% endif %}
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header mb-3">
                        <h3 id="comments">List of comments - <small>{{ comment_count }} comment(s)</small> </h3>
                    </div>
                    {% for comment in comments %}
                        <div class="card-body py-0">
                            <i class="fa fa-user-circle-o float-left pt-1 pr-1" aria-hidden="true"></i>
                            <h5 class="card-title">{{ comment.owner.first_name }}&nbsp;{{ comment.owner.last_name }}</h5>
                            <p class="card-text mb-0"><b>{{ comment.title }}</b> => {{ comment.message }}</p>
                            <p class="card-text mt-0"><small class="text-muted">Posted on {{ comment.cmt_date }} in {{ comment.listing.get_category_display }} category</small></p>
                        </div> <hr>                 
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}